@import "xterm/css/xterm.css";
@import "purecss";

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 1;
    height: 50%;
    width: 100%;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
}

.connect-view {
    font-size: 120%;
}

.connect-button {
    margin-top: 20px;
}

.port-view {
    flex-grow: 1;
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.tab-view {
    flex-grow: 1;
    height: 50%;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
}

.tab-view-selected {
    flex-grow: 1;
    height: 50%;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
}

.term-view {
    flex-grow: 1;
    height: 50%;
    overflow: hidden; /* terminal will resize */
}

.plot-view {
    flex-grow: 1;
    height: 80%;

    display: flex;
}

.plot-left {
    height: 100%;

    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

.swatch-button {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.swatch {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
}

.swatch button {
    font-size: 80%;
}

.button-pressed {
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(1px);
    background: #e5e5e5;
}

.plot-right,
.plot-right figure {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}
